.board-wrapper {
    left: 0;
    right: 0;
    width: 30vw;
    height: 60vh;
    margin: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.board-row-wrapper {
    display: block;
    margin-top: 0;
}

@media only screen and (max-width: 620px) {
    .board-wrapper {
        left: 0;
        right: 0;
        width: 60vw;
        height: 60vh;
        margin: auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}