.signup-username, .signup-password, .signup-password-confirm {
    left:0;
    right:0;
    margin:auto;
    display:block;
    width: 30%;
    height: 50px;
    font-size: 24px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.signup-submit-button {
    margin-top: 60px;
    width: 30%;
    height: 50px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 3px;
    color: white;
    background-color: black;
    border: 1px solid black;
    font-size: 24px;
}

.signup-form-error {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-shadow: none;
    font-size: 18px;
    color: white;
}

@media only screen and (max-width: 620px) {
    .signup-username, .signup-password, .signup-password-confirm {
        width: 80%
    }
    
    .signup-submit-button {
        width: 80%;
    }

}