.square {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    position: relative;    
    
}

.container-symbol {
    display: block;
    padding: 30px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 60px;
    color: lightgreen;
    text-shadow: -1px 0 teal, 0 1px teal, 1px 0 teal, 0 -1px teal;
    
}